/* ---------------------*/
/* hero main content header */
main {
  background: linear-gradient(
      0deg,
      rgba(19, 42, 28, 0.7),
      rgba(19, 42, 28, 0.7)
    ),
    url(../../asset/background-sample.jpg);
  background-size: cover;
  background-position: center;

  position: relative;
}
main .sizing-secondary {
  width: 90%;
  min-height: 55vh;

  display: flex;
  align-items: center;
}

main .sizing-secondary .main-text {
  margin: auto;
  color: var(--color-white-primary);
}

.main-text p {
  color: var(--color-white-secondary);
  margin: 10px auto;
  width: 80%;
  max-width: 700px;
}

.main-text h1 {
  margin: auto;
}

/* section */
section {
  padding: 0;

  position: relative;
  top: -50px;
}

.grid-box {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: unset;
  max-height: unset;
}

.grid-box .quick-emoji.card {
  background-color: transparent;
  /* padding: 0; */
}
.grid-box .fa-light,
.grid-box .fa-brands,
.grid-box .fa-solid {
  font-size: 5rem;
  color: var(--color-green-secondary);
}
.grid-box .text-uppercase {
  color: var(--color-green-tertiary);
  padding-bottom: 20px;
}
.grid-box .text-left {
  padding-top: 20px;
  color: var(--color-green-secondary);
}

.contact-parent .contact-container {
  align-items: unset;
}
