/* ---------------------*/
/* hero main content header */
main {
  background-color: rgba(187, 55, 55, 0.7);

  position: relative;
}
main .sizing-secondary {
  width: 90%;
  min-height: 50vh;

  display: flex;
  align-items: center;
}

main .sizing-secondary .main-text {
  margin: auto;
}

.main-text p {
  margin: 10px auto;
  width: 80%;
  max-width: 700px;
}

.main-text h1 {
  margin: auto;
}
