/* ---------------------*/
/* hero main content header */
main {
  background-color: rgba(245, 245, 245, 0.7);

  position: relative;
}
main .sizing-secondary {
  width: 90%;
  min-height: 75vh;

  display: flex;
  align-items: center;
}

.main-text p {
  margin: 10px 0 40px 0;
  width: 80%;
}

.main-image {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  z-index: -1;
  overflow: hidden;
}
.main-image img {
  height: 70vh;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* DATA INFO */
.data-info-parent {
  min-height: 25vh;

  background-color: var(--color-green-tertiary);
  border-top: 10px solid var(--color-green-secondary);
  border-bottom: 10px solid var(--color-green-secondary);

  padding: 5vw 0;
}

.data-info-box {
  width: 125px;
  height: 125px;

  background-color: var(--color-white-primary);

  flex-direction: column;
}
.data-info-box h3 {
  color: var(--color-green-primary);
  font-size: 5rem;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* QUICK */
/* ---------------------*/
/* quick box */
.quick-step-box {
  flex-direction: column;
  align-items: flex-start;
}

.quick-emoji {
  width: fit-content;

  margin-bottom: 30px;
}

.quick-step-box:nth-of-type(1) .quick-emoji {
  background-color: #c6ffbf;
}
.quick-emoji .fa-calendar-plus {
  color: #42b935;
}
.quick-step-box:nth-of-type(2) .quick-emoji {
  background-color: #ffbfbf;
}
.quick-emoji .fa-comment-medical {
  color: #b93535;
}
.quick-step-box:nth-of-type(3) .quick-emoji {
  background-color: #bfe5ff;
}
.quick-emoji .fa-desktop {
  color: #357bb9;
}

.quick-text h3 {
  margin-bottom: 15px;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* Tool Banner */
.tool-banner {
  min-height: 50vh;
  background: linear-gradient(
      0deg,
      rgba(27, 27, 27, 0.7),
      rgba(27, 27, 27, 0.7)
    ),
    url(../asset/2-2-2-3foodgroups_fruits_detailfeature.jpg);
  background-size: cover;

  padding: 50px 0;
}

.tool-banner > a {
  margin-top: 50px;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* Feedback */
.feedback-parent {
  background-image: radial-gradient(circle, #73927f, #436550);

  flex-direction: column;
}

.feedback-parent .section-header-parent {
  color: white;
}

.feedback-container {
  display: flex;
}

.feedback-box {
  border-radius: 10px;
  background-color: var(--color-white-secondary);

  width: 100%;
  max-width: 350px;
}

.feedback-image {
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-green-secondary);
}
.feedback-image img {
  max-width: 80%;
}

.feedback-info {
  padding: 20px;
}
.feedback-info h3.feedback-name {
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.feedback-info p.feedback-message {
  font-size: clamp(1.5rem, 5vw, 1.8rem);
}

/* TABLET */
@media (min-width: 576px) {
}

/* LAPTOP */
@media (min-width: 768px) {
  /* --------------------------------------- */
  /* DATA INFO */
  .data-info-box {
    width: 175px;
    height: 175px;
  }

  /* --------------------------------------- */
  /* Feedback */
  .feedback-parent {
    padding: 5vw 0;
  }
  .feedback-parent .section-header-parent {
    padding-bottom: 3vw;
  }
  .feedback-parent .section-header-parent h2 {
    width: 100%;
    max-width: initial;
  }

  .feedback-box {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 800px;
  }
}

/* NAVIGATOR */
/* MAIN HERO */
@media (min-width: 1120px) {
  /* hero main content header */
  main {
    background-color: transparent;
  }
  main .sizing-secondary {
    width: 85%;
  }

  main .sizing-secondary .main-text {
    flex: 1;
  }

  main .sizing-secondary .main-image {
    align-self: flex-end;
  }

  .main-image {
    position: initial;
    inset: initial;

    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  /* DATA INFO */
  .data-info-box {
    width: 200px;
    height: 200px;
  }

  /* ---------------------*/
  /* quick box */
  .quick-step-box {
    width: initial;
    max-width: initial;
    height: 100vw;
    max-height: 300px;

    flex: 1;
  }
}
