.main {
  flex-direction: column;
}

.board-progress {
  margin: 30px 0;
}
.board-progress ul {
  display: flex;
}
.board-progress li {
  list-style: none;

  min-width: 120px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  display: none;
}

.board-progress li .text {
  font-size: 14px;
  font-weight: 600;
  color: #d8d8d8;
}

/* Progress Div Css  */
.board-progress .current .progress {
  background-color: #58cb7a;
}
.board-progress .current .text {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.board-progress li .progress {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 14px 0;
  background-color: #d8d8d8;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.progress::after {
  content: " ";
  position: absolute;
  width: 71px;
  height: 5px;
  background-color: #d8d8d8;
  right: 50px;
}
.one::after {
  width: 0;
  height: 0;
}
.board-progress li .progress .uil {
  display: none;
}
.board-progress li .progress p {
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--color-white-primary);
}

/* Active Css  */
.board-progress li .active {
  background-color: #ff4732;
  display: grid;
  place-items: center;
}
.board-progress .active::after {
  background-color: #ff4732;
}
.board-progress li .active p {
  display: none;
}
.board-progress li .active .uil {
  font-size: 20px;
  display: flex;
}

/* Responsive Css  */
@media (max-width: 980px) {
  .main ul {
    gap: 35px;
    flex-direction: column;
  }
  .board-progress li {
    flex-direction: row;
  }
  .board-progress li .progress {
    margin: 0 30px;
  }
  .progress::after {
    width: 5px;
    height: 35px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
  .one::after {
    height: 0;
  }
  .board-progress li .icon {
    margin: 15px 0;
  }
}

/* ---------------------*/
/* hero main content header */
main {
  background-color: rgba(245, 245, 245, 0.7);

  position: relative;
}
main .sizing-secondary {
  width: 90%;
  min-height: 75vh;

  display: flex;
  align-items: center;
}

main .sizing-secondary .main-text {
  margin: auto;
}

.main-text p {
  margin: 10px auto 40px auto;
  width: 80%;
  max-width: 700px;
}

.main-text h1 {
  width: 95%;
  margin: auto;
}

section.board-parent {
  background: linear-gradient(
      0deg,
      rgba(19, 42, 28, 0.7),
      rgba(19, 42, 28, 0.7)
    ),
    url(../../asset/background-sample.jpg);

  background-size: cover;
}
/* ---------------------*/
/* reset */

/* ---------------------*/
/* board */
.board-container {
  background-color: white;

  width: 85%;
  min-height: 90vh;
  margin: auto;

  position: relative;

  padding-bottom: 100px;
}

/* header */
.board-header {
  /* width: 1%; */
  margin: 30px auto;
}
.board-header h2 {
  font-size: clamp(3rem, 7vw, 5rem);
  font-weight: 600;
  letter-spacing: 5px;
}

/* ---------------------*/
/* appointment */

/* ---------------------*/
/* board - header */

/* ---------------------*/
/* Appointment for */
.appointment-for .form-input-box {
  flex-direction: unset;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.appointment-for .radio-box {
  width: 100%;
  max-width: 300px;

  justify-content: flex-start;
}
.appointment-for .radio-box > div {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 10px;

  width: 50%;
  max-width: 150px;
  height: 50px;
}
.radio-box input {
  width: initial;
}
/* Radio - button  */
.appointment-for {
  margin: 30px 0;
}

/* textarea */
.tab-panel textarea {
  height: 100%;
}

.form-button {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

/* TAB */
.tabset {
  max-width: 1400px;
  padding: 0 2%;
  margin: auto;
}
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/* Styling */
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/* --- checkpoint - appointment */
/* ---------------------*/
.appointment-checkpoint-stage .divider {
  max-width: 1400px;
  padding: 0 2%;
  margin: auto;
}
.appointment-checkpoint-stage .form-input-parent:last-of-type {
  justify-content: center;
}
.appointment-checkpoint-stage .profile-link {
  margin-top: 50px;
}
.appointment-checkpoint-stage .grid-box img {
  width: 60%;
}

/* MEDIA QUERIES */
/* LAPTOP */
@media (min-width: 768px) {
  .main-text p {
    margin: 20px auto 50px auto;
    width: 80%;
    max-width: 700px;
  }

  .appointment-board {
    flex-direction: inherit;
  }
}

/* NAVIGATOR */
/* MAIN HERO */
@media (min-width: 1120px) {
  /* hero main content header */
  main {
    background-color: transparent;
  }
}
