/* ---------------------*/
/* hero main content header */
main {
  background-color: rgba(245, 245, 245, 0.7);

  position: relative;
}
main .sizing-secondary {
  width: 90%;
  min-height: 75vh;

  display: flex;
  align-items: center;
}

main .sizing-secondary .main-text {
  margin: auto;
}

.main-text p {
  margin: 10px auto 40px auto;
  width: 80%;
  max-width: 700px;
}

.main-text h1 {
  width: 95%;
  margin: auto;
}

/* ---------------------*/
/* ---------------------*/
/* appointment */
.appointment-parent {
  background-color: black;

  width: 100%;
  min-height: 70vh;
}
.appointment-container {
  border: 1px solid wheat;

  height: 500px;
}

/* MEDIA QUERIES */
/* LAPTOP */
@media (min-width: 768px) {
  .main-text p {
    margin: 20px auto 50px auto;
    width: 80%;
    max-width: 700px;
  }
}

/* NAVIGATOR */
/* MAIN HERO */
@media (min-width: 1120px) {
  /* hero main content header */
  main {
    background-color: transparent;
  }
}
