.faq-parent input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 16px;
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: var(--color-green-secondary);
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
}
.accordion-label:hover {
  background: var(--color-green-tertiary);
}
.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: rgba(4, 57, 94, 1);
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content p {
  text-align: left;
  color: rgba(4, 57, 94, 0.7);
}
input:checked + .accordion-label {
  background: var(--color-green-tertiary);
}
input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 30px 15px;
}
