:root {
  --color-white-primary: white;
  --color-white-secondary: #f5f5f5;
  --color-white-faded-form-brdr: #b8b8b8;
  --color-white-faded-form-lbl: #767676;
  --color-green-primary: #277043;
  --color-green-secondary: #2e6a45;
  --color-green-tertiary: #0a331a;

  --color-bad-light: #f3d9d9;
  --color-bad-dark: #c93535;
  --color-good-light: #b1e5b8;
  --color-good-dark: #35c949;
  --color-wait-light: #e5dbb1;
  --color-wait-dark: #c9ac35;
}
.error-text {
  color: var(--color-bad-dark);
}
.input-parent span {
  color: var(--color-bad-dark);
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

.table-containers {
  padding: 30px;
}

.hidden {
  display: none !important;
}

.button {
  padding: 10px 20px;

  border-radius: 10px;
  border: 1px solid black;

  color: white;
  letter-spacing: 1px;

  cursor: pointer;
}

.button-small {
  padding: 5px 10px;
}

.button-primary {
  background-color: var(--color-green-primary);
  color: white !important;
}

.button-delete {
  border: 1px solid black;
  background-color: red;
}

.table-patient-img img {
  width: 50px;
  height: 50px;
  object-position: center;
}

/* .table-id a {
  color: black !important;
  text-decoration: underline !important;
} */

.search-parent {
  display: flex;
  gap: 5px;
}
.search-parent input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 5px 5px 10px;
}

.table-tool-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group-parent-parent {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.form {
  background-color: rgb(216, 216, 216);

  width: 40%;
  border: 1px solid black;

  padding: 20px;
  border-radius: 20px;
}

.form-group {
  width: 100%;

  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.form-group > div {
  flex: 1;
}

.input-parent {
  display: flex;
  flex-direction: column;
}

.input-parent input {
  padding: 10px;
  border-radius: 10px;

  border: 1px solid black;
  background-color: white;
}

.form button {
  margin-top: 20px;
}

.modal-parent {
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  inset: 0;

  z-index: 101;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 70%;
  height: 70vh;

  background-color: #f5f5f5;

  border-radius: 10px;
  padding: 20px;

  overflow-y: auto;
}

.modal-header {
  margin: 10px 0;
}

.chart {
  width: 50%;
  margin: auto;
}

.divider {
  display: flex;
}

.divider .chart {
  width: unset;
}

table button {
  cursor: pointer;

  width: 35px;
  height: 35px;
  border-radius: 50%;
}

a.button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

button:hover {
  opacity: 0.9;
}
